/* Override Bootstrap Primary and Secondary Colors */
:root {
  --bs-primary: #009cd1; /* Dark Blue */
  --bs-primary-rgb: 0, 156, 209;

  --bs-secondary: #ff6fb5; /* Vibrant Pink */
  --bs-secondary-rgb: 255, 111, 181;

  --bs-info: #30bee1; /* Aqua Blue */
  --bs-info-rgb: 48, 190, 225;

  --bs-success: #ffa07a; /* Light Peach (used for success states) */
  --bs-success-rgb: 255, 160, 122;

  --bs-navbar-active-color: #ff6fb5; /* Vibrant Pink */
  --bs-emphasis-color-rgb: 255, 111, 181;

  /* Neutral Colors */
  --bs-black: #000000;
  --bs-white: #ffffff;

  --bs-dark: #212529; /* Primary Text Color */
  --bs-dark-rgb: 33, 37, 41;

  --bs-gray: #a9b1ba; /* Secondary Text Color */
  --bs-gray-rgb: 169, 177, 186;

  --bs-light: #e9ecef; /* Light Background */
  --bs-light-rgb: 233, 236, 239;
}

/* Override Button Styles */
.btn-primary {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
}

.btn-primary:hover {
  background-color: var(--bs-secondary); 
  border-color: var(--bs-secondary); 
}

.btn-clear {
  color: var(--bs-primary);
  border: none;
}

.btn-clear:hover {
  color: var(--bs-secondary);
  border: none;
}

.btn-secondary {
  background-color: var(--bs-secondary);
  border-color: var(--bs-secondary);
}

.btn-secondary:hover {
  background-color: var(--bs-primary); 
  border-color: var(--bs-primary);
}

/* Disabled Button */
.btn:disabled {
  background-color: var(--bs-light);
  color: var(--bs-gray);
  border-color: var(--bs-light);
}

/* Nav bar */
.navbar {
  background-color: white;
}


/* Link Colors */
a,
.nav-link {
  color: var(--bs-primary);
  text-decoration: none;
}

a:hover,
.nav-link:hover{
  color: var(--bs-secondary);
  text-decoration: underline;
}

.icon-link:hover {
  color: var(--bs-secondary);
}
